html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
  color: white;
  background: #f0f0f0;
}

a,label,h4,li,p {
  color: black;
  font-family: 'Baloo Thambi 2', cursive;
}

.glow {
  color: inherit;
  -webkit-animation: glow .6s ease-in-out infinite alternate;
  -moz-animation: glow .6s ease-in-out infinite alternate;
  animation: glow .6s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: transparent;
  }

  to {
    color: black;
  }
}

.list-group-item {
  background-color: inherit;
  border: none;
}

.shake{
   animation:  shake 0.8s;
   animation-iteration-count: infinite;
}

@keyframes shake{
  0% { transform: translate(1px, 1px); color: violet;}
   10% { transform: translate(-1px, -2px); color: indigo;}
   20% { transform: translate(-3px, 0px); color: blue;}
   30% { transform: translate(3px, 2px); color: green;}
   40% { transform: translate(1px, -1px); color: yellow;}
   50% { transform: translate(-1px, 2px); color: orange;}
   60% { transform: translate(-3px, 1px); color: red;}
   70% { transform: translate(3px, 1px); color: violet;}
   80% { transform: translate(-1px, -1px); color: indigo;}
   90% { transform: translate(1px, 2px); color: blue;}
   100% { transform: translate(1px, -2px); color: green;}
 }

 .modal-header,.modal-footer {
   border:none;
   justify-content: center;
 }

 .modal-footer {
   justify-content: center;
 }

 .list-group-horizontal {  
   justify-content: center;
 }
