html {
  animation: fade 2s ease;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  color: black;
  background: #f0f0f0;
  font-family: 'Sen', sans-serif;
  width: 100vw;
  height: 100vh;
}

hr {
  opacity: 1;
}

/* morph */

.mmorph {
  border-radius: 1rem;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff;
}

.morph {
  border-radius: 1rem;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff,inset 3px 3px 6px #cccccc, inset -3px -3px 6px #ffffff;
}

.btn-morph, .btn-check:focus + .btn-lg, .btn-check:focus + .btn, .btn-close:focus + .btn-lg, .btn-lg:focus, .btn:focus, .btn-close:focus {
  outline: 0;
  border-radius: 1rem;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff;
}

.btn-lg, .btn-group-lg > .btn {
  border: none;
}

.btn-lg span, a span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-lg span:after,
a span:after {
  content: '\003E';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.btn-lg:hover span,
a:hover span {
  padding-right: 15px;  
}

.btn-lg:hover span:after,
a:hover span:after {
  opacity: 1;
  right: 0;
}

/* rate */

.strike {
  color: gray;
}

.rate {
  color:#FF2400;
}

/* carousel */

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0.6s;
}

/* offer */

.shake{
   animation: shake 1s;
   animation-iteration-count: infinite;
}

@keyframes shake{
  0% { transform: translate(1px, 1px); color: violet;}
   10% { transform: translate(-1px, -2px); color: indigo;}
   20% { transform: translate(-3px, 0px); color: blue;}
   30% { transform: translate(3px, 2px); color: green;}
   40% { transform: translate(1px, -1px); color: yellow;}
   50% { transform: translate(-1px, 2px); color: orange;}
   60% { transform: translate(-3px, 1px); color: red;}
   70% { transform: translate(3px, 1px); color: violet;}
   80% { transform: translate(-1px, -1px); color: indigo;}
   90% { transform: translate(1px, 2px); color: blue;}
   100% { transform: translate(1px, -2px); color: green;}
 }

/* modal */

.modal-header, .modal-footer {
  border:none;
}

.modal-backdrop.show {
  background: inherit;
  opacity: 1;
}

.modal-backdrop {
  background: inherit;
}

.fade {
  transition: 0.15s linear;
}

.modal-content {
  border: none;
  background: inherit;
}

.modal-footer {
  display: block;
}

/* run */

.fd {
  animation: fade 1.5s ease;
}

@keyframes fade {
    from{
      opacity: 0;
    }
    45%{
      opacity: 0;
    }
}

/* tabs */

.nav-link {
  margin: 6px;
}

.nav-pills .nav-link {
  border-radius: 1rem;
  color: gray;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff,inset 3px 3px 6px #cccccc, inset -3px -3px 6px #ffffff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: inherit;
  color: black;
  box-shadow: 3px 3px 6px #cccccc, -3px -3px 6px #ffffff;
}

/* calendar */

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: inherit;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  transform: rotate(180deg);
}

.accordion-button:focus {
  border-color: inherit;
  outline: 0;
  box-shadow: inherit;
}

.list-group-item {
  background: inherit;
  border: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}       